/*.col {
	background-color: orange;
	border: 2px solid;
}*/

/*body {
	position: relative;
}*/

.anyClass {
	position: relative;
	height: calc(100vh - 100px);
	/*overflow-y: scroll;*/
}

.jumbotron {
	/* background: linear-gradient(to right, rgb(5, 81, 159), rgb(126, 190, 144)); */
	/* background: linear-gradient(to right, rgb(198, 6, 46), rgb(202, 200, 9));
	background: linear-gradient(to right, rgb(3, 132, 198), rgb(202, 200, 9));
	background: linear-gradient(to right, rgb(38, 203, 149), rgb(177, 178, 230)); */
	background: linear-gradient(to right, rgb(215, 216, 240), rgb(227, 126, 50));

}

.form-control-plaintext {
	text-align: center;
}

.form-control {
	text-align: center;
} 

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listItem {
	/*padding: 1px;*/
	/*margin: 9px;*/

	  /*width: 23%;*/
  height: 49px;
  margin: 1px 1%;
  text-align: center;
  background: #069;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

input[type=text] {
  padding: 0px 0px;
  min-width: 25px;
  /*max-width: 50px;*/
}
